<div id="header">
	<h1>My Burger List!</h1>
	<img src="/assets/img/burger.png">

</div>

<div id="content">
	<div id="left-content">
		<h2>Need to eat!</h2>

		{{#each eatList}}
			<li>{{this.id}}. {{this.burger_name}} <button burger-id="{{this.id}}"  class="yumyum">devoured!!</button></li>
			
		{{/each}}

	</div>

	<div id="right-content">
		<h2>Yum Yum Yummed!</h2>

		{{#each yumList}}
			<li>{{this.id}} {{this.burger_name}}</li>
		{{/each}}
	</div>

</div>

<div id="form">
	<h2>Add burger to eat!</h2>
	<form id="create-burger" class = "button-size">
		<textarea type="text" id="burger-input"></textarea>
		<button type="submit">Save Burger!</button>
	</form>
</div>

<script type="text/javascript">
	
	$("#create-burger").on("submit",function(event){
		event.preventDefault();

		var newBurger = {
			burger: $("#burger-input").val().trim()
		}

		$.ajax("/api/create",{
			type:"POST",
			data:newBurger
		}).then(
			function(){
				console.log("burger Added!");
				location.reload();
			}
		);
	});

	$(".yumyum").on("click",function(event){
		console.log($(this).attr("burger-id"));
		var changeStatus = {
			burgerId: $(this).attr("burger-id")
		}

		$.ajax("api/update",{
			type:"PUT",
			data: changeStatus
		}).then(
			function(){
				console.log("burger YUM YUM YUMMED!");
				location.reload();
			}
		)
	})

</script>